<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/albadibac"
        android:label="Albadi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.Show_final_OrderNet"
            android:exported="false" />
        <activity
            android:name=".ui.My_Orders"
            android:exported="false" />
        <activity
            android:name=".ui.Favorites"
            android:exported="false" />
        <activity
            android:name=".ui.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".ui.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FoodDetiles"
            android:exported="false" />
        <activity
            android:name=".ui.SupCategory"
            android:exported="false" />
        <activity
            android:name=".ui.SingelItem"
            android:exported="false" />
        <activity
            android:name=".ui.Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>